/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Home, .News, .contactus, .Whatwedo, .Whoweare, .notfound{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 70vh;


}
.Whoweare{display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 70vh;

}

.footer{
  background-color: #FFF1F1;
  background-size: contain;
  margin-top: 80%;
  color: black;
  height: 90vh;
  
}
 h5{
  color: rgb(0, 110, 255);


}
ul{
  /* padding-top: 25vh; */
}
ul h5{
  margin-top: 50px;

}

